body{
    margin: 0;
    padding: 0;
    border: none;
}
.header1{
    background-color: black;
    padding: 20px;
    color: white;
}
.logo{
    font-style: italic;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 40px;
    font-weight: bold;
}
.headerlinks{
    font-style: normal;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 20px;
    list-style-type: none;
}
.headerlinks a{
    color: white;
}
.headerlinks a:hover{
    color: white;
    text-decoration-line: none;
}


/* Header section 2 */
.header2{
    background-image: url('../img/background.png');
    height: 650px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    font-style: normal;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 40px;
    margin-top: -20px;
    
}
.intro{
    padding-top: 200px;
}
#intro2{
    font-size: 30px;
}


/* ABOUT PAGE */
.about{
    padding-top: 50px;
    padding-bottom: 100px;
}
.top{
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 24px;
    text-decoration-line: underline;
    text-decoration-style: double;
    text-decoration-color: blue;
}
.ttop{
    padding-top: 50px;
}
.abt{
    padding-top: 50px;
    font-style: normal;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: #868e96;
}
.cv a:hover {
    text-decoration-line: none;
    color: white;
    background-color: blue;
    transition: all 0.5s ease;
}
.cv a{
    color: blue;
    background-color: white;
    display: inline-block;
    padding: 10px 25px;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 3px 0 7px 0 rgba(0, 0, 0, 0.205);
    margin-left: 200px;
    margin-top: 70px;
}

/* WORKS PAGE */
.works{
    padding-top: 50px;
}
.Whead{
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 24px;
    text-decoration-line: underline;
    text-decoration-style: double;
    text-decoration-color: purple;
}
.wwrk{
    padding-top: 150px;
    font-style: normal;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: #868e96;
}
.proj a:hover {
    text-decoration-line: none;
    color: white;
    background-color: purple;
    transition: all 0.5s ease;
}
.proj a{
    color: purple;
    background-color: white;
    display: inline-block;
    padding: 10px 25px;
    font-weight: bold;
    border-radius: 20px;
    box-shadow: 3px 0 7px 0 rgba(0, 0, 0, 0.205);
    margin-left: 100px;
    margin-top: 70px;
}
.work1 img{
    box-shadow: 2px 0px 8px 0px rgba(0, 0, 0, 0.205);
}
.rrow{
    padding-top: 100px;
    padding-bottom: 100px;
}
.wwrrk{
    font-style: normal;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: #868e96;
    padding-top: 60px;
}
.wbottom a{
    font-style: normal;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: #868e96;
    padding-left: 20px;
    padding-top: 60px;
    color: blue;
}
.wbottom a:hover{
    text-decoration-line: none;
}

/* CONTACT SECTION */
.contact{
    background-color: black;
    padding-top: 50px;
    padding-bottom: 100px;
}
.links{
    padding-top: 50px;
    
}
.link{
    padding-left: 100px;
}
.links a{
    color: white;
    font-style: normal;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 20px;
}
.links a:hover{
    text-decoration-line: none;
}
.footer{
    padding-top: 50px;
}
.foot{
    padding-left: 120px;
}

/* Responsive codes */
@media only screen and (max-width: 768px) {
    .header2{
        background-image: url('../img/background2.png');
        height: 350px;
        background-size: cover;
        width: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: black;
        color: white;
        font-style: normal;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
        font-size: 20px;
        text-align: center;
        
    }
    .intro{
        padding-top: 100px;
    }
    #intro2{
        font-size: 15px;
    }
    .links{
        padding-top: 50px;
        
    }
    .link{
        padding-left: 0px;
    }
    .links a{
        color: white;
        font-style: normal;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
        font-size: 15px;
    }
    .footer{
        padding-top: 50px;
    }
    .foot{
        padding-left: 0px;
    }
    .cv a{
        color: blue;
        background-color: white;
        display: inline-block;
        padding: 10px 25px;
        font-weight: bold;
        border-radius: 20px;
        box-shadow: 3px 0 7px 0 rgba(0, 0, 0, 0.205);
        margin-left: 100px;
        margin-top: 70px;
    }
    .wwrk{
        padding-top: 0px;
        padding-bottom: 50px;
    }
    .proj a{
        color: purple;
        background-color: white;
        display: inline-block;
        padding: 10px 25px;
        font-weight: bold;
        border-radius: 20px;
        box-shadow: 3px 0 7px 0 rgba(0, 0, 0, 0.205);
        margin-left: 80px;
        margin-top: 50px;
    }
    .rrow{
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .wwrrk{
        font-style: normal;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
        font-size: 20px;
        padding-top: 0;
        padding-bottom: 50px;
    }
}

/* Image hover */
.projects {
    position: relative;
    /* width: 50%; */
  }
  
  .Image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(218, 21, 218);
  }
  .overlay1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(218, 21, 218);
  }
  
  .projects:hover .overlay {
    opacity: 1;
  }
  .projects:hover .overlay1 {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  .text1 {
    color: white;
    font-size: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  /* ANIMATIONS */
  .intro {
      animation-duration: 5s;
  }
  .works{
      opacity: 0;
  }