body{
	 
    }
    h1{
    	font-family: "Work Sans", Helvetica, Arial, sans-serif;
    	font-size: 18px;
    	color: white;
    	font-weight: 500;
    	font-style: normal;
    	line-height: 20px;
    	margin-top: 100px;
    	padding: 0px;
    }
    .kene {
    	font-family: "Work Sans", Helvetica, Arial, sans-serif;
    	font-size: 40px;
    	color: #09d261;
    	font-weight: 400;
    	font-style: normal;
    	line-height: 44px;
    }

    .keneface img{
    	margin-top: -40px;

	 
    }
    #rrow{
        padding-bottom: 80px;
    }
    .target a{
        text-decoration: none;
    }
    .usable a{
        text-decoration: none;
    }
    .text1{
        padding-left: 70px
    }
    .text2{
        padding-top: 50px; 
        padding-left: 100px; 
        padding-right: 100px;
    }
    .first{
    	font-family: "Work Sans", Helvetica, Arial, sans-serif;
    	font-size: 20px;
    	color: #9b9b9b;
    	font-weight: 400;
    	font-style: normal;
    	line-height: 29px;
    }
    p{
    	margin-top: 40px;
    }
    h2{
    	font-family: "Work Sans", Helvetica, Arial, sans-serif;
    	font-size: 40px;
    	color: #0e0e0e;
    	font-weight: 600;
    	font-style: normal;
    	line-height: 44px;

    }
    .header{
    	font-family: "Work Sans", Helvetica, Arial, sans-serif;
    	font-size: 25px;
    	color: #0e0e0e;
    	font-weight: 600;
    	font-style: normal;
    	line-height: 28px;
    }
    .second{
    	font-family: "Work Sans", Helvetica, Arial, sans-serif;
    	font-size: 16px;
    	color: #444444;
    	font-weight: 400;
    	font-style: normal;
    	line-height: 23px;
    	margin-top: -5px;
    }
    .third{
    	font-family: "Work Sans", Helvetica, Arial, sans-serif;
    	font-size: 16px;
    	color: #9b9b9b;
    	font-weight: 400;
    	font-style: normal;
    	line-height: 23px;
    	margin-top: 5px; 	
    }
    .fourth{
    	font-family: "Work Sans", Helvetica, Arial, sans-serif;
    	font-size: 12px;
    	color: #d34335;
    	font-weight: 500;
    	font-style: normal;
    	line-height: 17px;
    	margin-top: 0px;
    	
    }
    .fourth a:hover{
        color:#d34335;
        text-decoration: none;

    }
    h3{
        font-family: "Work Sans", Helvetica, Arial, sans-serif;
        font-size: 30px;
        color: #9b9b9b;
        font-weight: 600;
        font-style: normal;
        line-height: 33px;
        margin-top: 50px;
        text-align: center;
    }
    .email a{
        font-family: "Work Sans", Helvetica, Arial, sans-serif;
        font-size: 18px;
        color: #9b9b9b;
        font-weight: 400;
        font-style: normal;
        line-height: 20px;
    }
    .email{
         text-align: center;
         font-family: "Work Sans", Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #9b9b9b;
        font-weight: 400;
        font-style: normal;
        line-height: 20px;
    }
    .email a:hover{
        color:#1771d3;
        text-decoration: none;
    }
    .links p {
        color:#fff;
    }
    .links a{
        color:#fff;
        font-size: 16px;
    }
    .oilreport{
        box-shadow: 10px 10px black;
    }
    .twitter a:hover {
        color:#55acee;
        text-decoration: none;
          }
    .dribble a:hover {
        color:#ea4c89;
        text-decoration: none;
          }
    .instagram a:hover {
        color:#7a50c0;
        text-decoration: none;
          }
    .medium a:hover {
        color:#0be370;
        text-decoration: none;
          }
    .link{
        padding-top: 20px;
        padding-left: 50px;
    }
    .shadow img:hover {
        box-shadow: 10px 10px 10px #dbdbdb;
    }
    .wrap{
        position: absolute;
        z-index: 6;
        background-color: #fff
    }
    @media only screen and (max-width: 768px) {
        .keneface{
            position: fixed;
            left:10%;
            
        }
        .keneface img{
            width: 300px;
            margin-top: 40px
        }
        .text1{
            padding-left: 20px;
        }
        .text2{
            padding-left: 20px;
            padding-right: 20px;
        }
        .link{ 
            padding-left: 2px;
        }
    }



    