body{
	background-color: white;

     }

     #wilfrid{
          color: black;
          font-family:EO-Calibre, sans-serif;
          font-size: 20px;
          line-height: 30px;
          font-weight: 700;
          font-style: normal;
     }
     #row{
          margin-top: 50px;
     }
     #rrow a{
          color: #637a98;
          text-decoration: none;
          font-weight: 400;
          font-style: normal;
          font-size: 15px;
          font-family: EO-Calibre, sans-serif;
     }
     #colorabout{
          color: black;
     }
     h2{
          color: black;
          font-family:EO-Calibre, sans-serif;
          font-size: 35px;
          line-height: 52px;
          font-weight: 600;
          font-style: normal;
     }
     .information{
          color: #637a98;
          font-weight: 400;
          font-style: normal;
          font-size: 17px;
          font-family: EO-Calibre, sans-serif;
          line-height: 34px;
     }
     .contactme {
          color: #0054cc;
          text-decoration: none;
     }
     .SIGN img{
          margin-top: 20px;

     }
     .Speaking {
          margin-top: 150px;
          color: grey;
          font-weight: 580;
          font-style: normal;
          font-size: 14px;
          font-family: EO-Calibre, sans-serif;
          line-height: 34px;
     }
     #rrrow{
          margin-top: 20px;
     }
     h3, h4, h5 {
          color: #000000;
          font-weight: 700;
          font-style: normal;
          font-size: 20px;
          font-family: EO-Calibre, sans-serif;
          line-height: 40px;
     }
     .h3,.h4,.h5{
          color: #637a98;
          font-weight: 400;
          font-style: normal;
          font-size: 17px;
          font-family: EO-Calibre, sans-serif;
          line-height: 34px;
     }
     
     h6{
          color: grey;
          font-weight: 600;
          font-style: normal;
          font-size: 14px;
          font-family: EO-Calibre, sans-serif;
          line-height: 27px;
          margin-top: 100px;
     }
     .h6 {
          color: #637a98;
          font-weight: 400;
          font-style: normal;
          font-size: 17px;
          font-family: EO-Calibre, sans-serif;
          line-height: 34px;
     }
     #experience{
          color: grey;
          font-weight: 600;
          font-style: normal;
          font-size: 14px;
          font-family: EO-Calibre, sans-serif;
          line-height: 27px;
     }
     #final{
          margin-top: 80px;
     }
     ul{
          color: black;
          font-weight: 600;
          font-style: normal;
          font-size: 18px;
          font-family: EO-Calibre, sans-serif;
          line-height: 30px;
          padding-left: 17px;
     }
     #present{
          color: #637a98;
          font-weight: 400;
          font-style: normal;
          font-size: 18px;
          font-family: EO-Calibre, sans-serif;
          line-height: 30px;
          list-style-type: none;
     }
     #roow{
          padding-top: 10px;
     }


