body{

}.forms input[type="text"],
.forms input[type="email"],
.forms input[type="password"],
.forms input[type="tel"]{
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

} 

.forms input[type="submit"]{
    display: block;
    border-radius: 30px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    margin-left: -10px;
    text-align: left;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 25px;
}
.forms input[type="submit"]:hover{
    background-color: #8994ED;
}
.text{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color:#828282;
}
.jot input[type="submit"]{
    display: block;
    border-radius: 30px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    margin-left: -10px;
    text-align: left;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 20px;

}
.jot input[type="submit"]:hover{
    box-shadow: 10px 10px 10px #dbdbdb; 
}.

 
.textt:hover{
    color:#828282;
}
.teext{
    color:#C4CAF6;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 12px;
    line-height: 30px;
    font-weight: 400;
    padding-top: -10px;
    padding-left: 450px;

}

.home{
    color:#828282;
    /* padding-left: 100px; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 15px;
    line-height: 23px;
    font-weight: 400;
}
.tabzz a:hover {
    text-decoration: none;
}
.menu{
     color:#828282;
     /* padding-left: 250px; */
     font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
     font-size: 15px;
     line-height: 23px;
     font-weight: 400;
}
.tabzz{
    border-bottom: 1px solid grey;
    text-align: center;
}
.message{
    position: fixed;
    top: 85%;
    right: 4%
}
.main{
    padding-left: 80px; 
    
}
.vvv{
    padding-left: 100px;
}
.vvvv{
    padding-top: 80px;
}
.two{
    padding-top: 130px;
}
 @media only screen and (max-width: 768px){
    .main{
        padding-left: 5px;
    }
    .vvv{
        padding-left: 5px;
    }
    .two{
        padding-top: 100px;
    }
 }
